---
interface Props {
	id: string;
	title: string;
	author: string;
	spineColor: string;
	url?: string;
	pulled?: boolean;
}

const { id, title, author, spineColor, url, pulled = false } = Astro.props;
---

<button
  type="button"
  class="shelf-book"
  style={`background-color: ${spineColor}`}
  data-book-id={id}
  data-book-title={title}
  data-book-author={author}
  data-book-color={spineColor}
  data-book-url={url}
  data-pulled={pulled ? "true" : undefined}
  aria-label={`Preview ${title} by ${author}`}
>
  <span class="shelf-book__label">{title}</span>
</button>
